.loginPage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginHeader {
  padding-bottom: 10px;
}

.loginButton img {
  width: 280px;
}

.loginButtonWrap {
  background: #fff;
  margin-top: 60px;
  padding: 30px;
  width: 520px;
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  align-items: center;
}
